{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}


<div class="site-section">
      <div class="container">
        <div class="row mb-5">

<form method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12">
                  {% csrf_token %}
                  {{form.as_p}}
                  <a href="/" onclick="thongbao_edit()"><input type="submit" value="Update"></a>
                </div>
              </div>
</form>

</div>
</div>
</div>


{% endblock %}